{% extends 'users/userbase.html'%}
{%load static%}
{%block contents%}
<!--<style>-->
<!--    .bg-light{-->
<!--    margin-top: -500px;-->
<!--    background: #65cd00;-->
<!--    padding:10px;-->
<!--    }-->
<style>
    #abc {
        background-color: black;
    }
</style>
<!--</style>-->

 <section class="we-do" id="abc">
  
                <center><h2>Give Your Input Here</h2></center>
                <p>
                    <center>
                <form  action="{%url 'prediction'%}" enctype="multipart/form-data" method="POST" align="center">
{%csrf_token%}
 <table>

<strong>Select an Image</strong>  <input type="file" name="file"  accept="video\*" required placeholder="Select an Image to Upload"><br/>
</div>
</div>


</div>

<button class="btn  btn-primary text-white py-3 px-5" type="submit"> Upload </button>
<h4>your uploaded image predicted as:<span style="color:green">{{soil}}</span></h4>

 <img src="{{sanju}}" width="450" height="380">

<h4>The recommendation crops for this soil are :<span style="color:green">{{crops}}</span></h4>




</table>


{%endblock%}